<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품리스트</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <div th:replace="~{nav.html :: navbar}"></div>
    <div class="detail">
        <h4>상세페이지</h4>
        <img src="https://placehold.co/300">
        <h4 th:text="${data.title}"></h4>
        <p th:text="${data.price + '원'}"></p>
    </div>
    <a th:href="@{ '/updateItem/' + ${data.id} }">수정하기</a>
</body>
</html>