<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ERROR</title>
</head>
<body>
    <h4>에러페이지임</h4>
    <p th:text="${status}"></p>
    <p th:text="${error}"></p>
    <p th:text="${path}"></p>
    <p th:text="${message}"></p>
    <p th:text="${exception}"></p>
</body>
</html>