<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품리스트</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <div th:replace="~{nav.html :: navbar}"></div>

    <form action="/search" method="POST" >
        <input name="searchText" style="display : inline"/>
        <input type="hidden" name="page" value="1"/>
        <button type="submit">검색</button>
    </form>


    <div class="card" th:each="i : ${items}">
        <img onerror="this.onerror=null; this.src='https://placehold.co/300';" th:src="${i.imgUrl}" />
        <div>
            <a th:text="${i.title}" th:href="@{ '/detail/' + ${i.id} + '/page/1' }"></a>
            <p th:text="${i.price + '원'}"></p>
            <a th:href="@{ '/edit/' + ${i.id} }">✏️</a>
            <span th:onclick="fetch('/item?id=[[${i.id}]]', { method : 'DELETE'} )
                             .then(r => r.text())
                             .then(() => { location.reload(); })">🗑️</span>
        </div>
    </div>
    <div th:each="i : ${#numbers.sequence(1,totalPage)}">
        <a th:href="@{ '/list/page/' + ${i} }" th:text="${i}" style="display: inline"></a>
    </div>
</body>
</html>