<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인페이지</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>

<h4>마이페이지임</h4>

<div sec:authentication="principal"></div>
<div sec:authentication="principal.username"></div>
<div sec:authorize="hasAuthority('일반유저')">
    <h4>이 유저는 일반유저</h4>
</div>
<div sec:authorize="isAuthenticated()">
    <h4>로그인 했을 경우에만 보여줌</h4>
</div>
<div sec:authorize="isAnonymous()">
    <h4>로그아웃 했을 때만 보여줌</h4>
</div>

</body>
</html>