<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품리스트</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <div th:replace="~{nav.html :: navbar}"></div>
    <form action="/add" method="POST">
<!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
        <input name="title" placeholder="상품명">
        <input name="price" placeholder="가격">
        <input type="hidden" name="imgUrl" id="imgUrl"/>
        <button type="submit">저장</button>
        <img src=""/>

    </form>
    <input type="file" onchange="getURL(this)">
<script>
    async function getURL(e){
        let name = encodeURIComponent(e.files[0].name);
        let result = await fetch('/presigned-url?filename='+ name);
        result = await result.text();

        let rr = await fetch(result, {
            method : 'PUT',
            body : e.files[0]
        });

        console.log(rr);
        console.log(rr.url.split("?")[0]);

        if(rr.ok){
            document.querySelector('img').src = rr.url.split("?")[0];
            document.getElementById('imgUrl').value = rr.url.split("?")[0];
        }
    }
</script>
</body>
</html>